<section ng-controller="CreateCtrl as createVm">
  
  <h3>{{createVm.tittle}}</h3>
  
  <form name="createNew">
    
    <div class="control-group" ng-class="{error: createVm.company.name.$invalid}">
      <label>name</label>
      <input type="text" name="name" ng-model="createVm.company.name" required>
      <span ng-show="createVm.name.$error.required" class="help-inline">
        Required
      </span>
    </div>
    
    <div class="control-group" ng-class="{error: createVm.income.$invalid}">
      <label>estimated annual earning</label>
      <input type="number" name="income" ng-model="company.income" >
      <span ng-show="createVm.income.$error.required" class="help-inline">
        Required
      </span>
    </div>
    
    <div class="control-group">
      <label for="selPar">select belong company</label>
      <select class="control-group" id="selPar" 
         name="parent" ng-model="createVm.company.parent_id"
         ng-options="company._id.$oid as company.name for company in createVm.potentialParents"
      >
      <option></option>
      </select>
    </div>
      
    <a href="#/" class="btn">Cancel</a>
    <button ng-click="createVm.save(createVm.company)" ng-disabled="isClean() || createVm.$invalid"
      class="btn btn-primary">Save</button>
    <button ng-click="createVm.destroy()"
      ng-show="company._id" class="btn btn-danger">Delete</button>
      
  </form>
  
</section>