<section ng-controller="EditCtrl as editVm">
  
  <h3>{{editVm.editTittle}}</h3>
  
  <form name="createNew">
    
    <div class="control-group" ng-class="{error: editVm.name.$invalid}">
      <label>name</label>
      <input type="text" name="name" ng-model="editVm.company.name" required>
      <span ng-show="editVm.name.$error.required" class="help-inline">
        Required
      </span>
    </div>
    
    <div class="control-group" ng-class="{error: editVm.income.$invalid}">
      <label>estimated annual earning</label>
      <input type="number" name="income" ng-model="editVm.company.income" >
      <span ng-show="editVm.income.$error.required" class="help-inline">
        Required
      </span>
    </div>
    
    <div class="control-group">
      <label for="selPar">select belong company</label>
      <select class="control-group" id="selPar" 
         name="parent" ng-model="editVm.company.parent_id"
         ng-options="company._id.$oid as company.name for company in editVm.potentialParents"
      >
      <option></option>
      </select>
    </div>
      
    <a href="#/" class="btn">Cancel</a>
    <button ng-click="editVm.save(editVm.company)" ng-disabled="isClean() || createNew.$invalid"
      class="btn btn-primary">Save</button>
    <button ng-click="editVm.destroy()"
      ng-show="editVm.company._id" class="btn btn-danger">Delete</button>
      
  </form>
  
</section>