<section ng-controller="ListCtrl as listVm">
  <h3>{{listVm.tittle}}</h3>
  
  <input type="text" ng-model="search" class="search-query" placeholder="name">
  <table>
    <thead>
    <tr>
      <th>name</th>
      <th>estimated<br>earning</th>
      <th>parent</th>
      <th>child_ids</th>
      <th><a href="#/new"><i class="glyphicon glyphicon-plus"></i></a></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="company in listVm.companies | filter:search | orderBy:'name'">
      <td>{{company.name}}</td>
      <td>{{company.income}}</td>
      <td>{{company.parent_id}}</td>
      <td>{{company.child_ids}}</td>
      <td>
        <a href="#/edit/?id={{company._id.$oid}}"><i class="glyphicon glyphicon-pencil"></i></a>
      </td>
      <td>
        <a href="#/remove/?id={{company._id.$oid}}"><i class="glyphicon glyphicon glyphicon-trash"></i></a>
      </td>
      <td>
        <a href="#/unlink/?id={{company._id.$oid}}"><i class="glyphicon glyphicon-scissors"></i></a>
      </td>
    </tr>
    </tbody>
  </table>

</section>