<section ng-controller="CreateCtrl as createVm" class="container">
 
  <h4 class="text-center">{{createVm.tittle}}</h4>
  
  <div ng-if="createVm.messageToClient.info" class="container">
    <div class="col-xs-12 text-left">
      <a href="#/" class="btn">Back</a>
    </div>
    <div class="form-group">
      <label for="comment">{{createVm.errTittle}}</label>
      <textarea class="form-control" 
                rows="7"
                readonly="true"
      >
        {{createVm.messageToClient.info}}
      </textarea>
    </div>
  </div>
   
  <form ng-if="!createVm.messageToClient.info" class="form-horizontal" role="form">
    
    <div class="form-group" ng-class="{error: createVm.company.name.$invalid}">
      <label for="name" class="control-label col-xs-6">Name</label>
      <div class="col-xs-6 text-center">    
          <input type="text" 
                 class="form-control help-inline" 
                 id="name"
                 name="name" 
                 ng-model="createVm.company.name"
                 placeholder="name ..."
                 required>
                         
          <span ng-show="createVm.name.$error.required" class="help-inline">
            Required
          </span>
      </div>
    </div>
    
    <div class="form-group" ng-class="{error: createVm.income.$invalid}">
      <label for="income" class="control-label col-xs-6">estimated annual earning</label>
      <div class="col-xs-6 text-center">    
          <input type="number" 
                 class="form-control help-inline" 
                 id="income"
                 name="income" 
                 ng-model="createVm.company.income"
                 placeholder="0"
                 required>
               
          <span ng-show="createVm.income.$error.required" class="help-inline">
            Required
          </span>
      </div>
    </div>
   
  
    <div class="form-group">
      <label for="parent" class="control-label col-xs-6">chose parent company (if needed)</label>
      <div class="col-xs-6 text-center">
          <select class="form-control help-inline"
                 id="parent" 
                 name="parent"
                 ng-model="createVm.company.parent_id"
                 ng-options="company._id.$oid as company.name for company in createVm.potentialParents.collections"
          >
          <option></option>
          
          </select>
      </div>
    </div>
    
    <div class="col-xs-4 text-center">
      <a href="#/" class="btn">Cancel</a>
    </div>
    <div class="col-xs-4 text-center">
      <button ng-click="createVm.save(createVm.company)" ng-disabled="isClean() || createVm.$invalid"
        class="btn btn-primary">Save
      </button>
    </div>
    <div class="col-xs-4 text-center">
      <button ng-click="createVm.destroy()"
        ng-show="company._id" class="btn btn-danger">Delete</button>
    </div>
  </form>
  
</section>