<section ng-controller="EditCtrl as editVm">
  
  <h4 class="text-center">{{editVm.editTittle}}</h4>
  
  <div ng-if="editVm.messageToClient.info" class="container">
    <div class="col-xs-12 text-left">
      <a href="#/" class="btn">Back</a>
    </div>
    <div class="form-group">
      <label for="comment">{{editVm.errTittle}}</label>
      <textarea class="form-control" 
                rows="7"
                readonly="true"
      >
        {{editVm.messageToClient.info}}
      </textarea>
    </div>
  </div>
  
  <form ng-if="!editVm.messageToClient.info" class="form-horizontal" role="form">
    
    <div class="form-group" ng-class="{error: editVm.company.collections.name.$invalid}">
      <label for="name" class="control-label col-xs-6">Name</label>
      <div class="col-xs-6 text-center">    
          <input type="text" 
                 class="form-control help-inline" 
                 id="name"
                 name="name" 
                 ng-model="editVm.company.collections.name"
                 placeholder="name ..."
                 required>
                         
          <span ng-show="editVm.company.collections.name.$error.required" class="help-inline">
            Required
          </span>
      </div>
    </div>
    
    <div class="form-group" ng-class="{error: editVm.company.collections.income.$invalid}">
      <label for="income" class="control-label col-xs-6">estimated annual earning</label>
      <div class="col-xs-6 text-center">    
          <input type="number" 
                 class="form-control help-inline" 
                 id="income"
                 name="income" 
                 ng-model="editVm.company.collections.income"
                 placeholder="0"
                 required>
               
          <span ng-show="editVm.company.collections.income.$error.required" class="help-inline">
            Required
          </span>
      </div>
    </div>
   
    <div class="form-group">
      <label for="parent" class="control-label col-xs-6">chose parent company (if needed)</label>
      <div class="col-xs-6 text-center">
          <select class="form-control help-inline"
                 id="parent" 
                 name="parent"
                 ng-model="editVm.company.collections.parent_id"
                 ng-options="company._id.$oid as company.name for company in editVm.potentialParents.collections"
          >
          <option></option>
          
          </select>
      </div>
    </div>
    
    <div class="col-xs-4 text-center">
      <a href="#/" class="btn">Cancel</a>
    </div>
    <div class="col-xs-4 text-center">
      <button ng-click="editVm.save(editVm.company.collections)" ng-disabled="isClean() || editVm.$invalid"
        class="btn btn-primary">Save
      </button>
    </div>
 
</section>