<section ng-controller="ListCtrl as listVm">
  
  <h4 class="text-center">{{listVm.tittle}}</h4>
  
  <div ng-if="listVm.messageToClient.info" class="container">
    <div class="col-xs-12 text-left">
      <a href="#/" class="btn">Refresh</a>
    </div>
    <div class="form-group">
      <label for="comment">{{listVm.errTittle}}</label>
      <textarea class="form-control" 
                rows="7"
                readonly="true"
      >
        {{listVm.messageToClient.info}}
      </textarea>
    </div>
  </div>
  
  <table ng-if="!listVm.messageToClient.info" class="container text-center table table-responsive">
    <thead>
      <tr>
        <th class="text-center form-inline">
          <div id="custom-search-input">
            <!--<div class="input-group">-->
            <!--  <input type="text" -->
            <!--         class="form-control input-sm search-query"-->
            <!--         ng-model="search" -->
            <!--         placeholder="name..."-->
            <!--  />-->
            <!--  <span class="input-group-btn">-->
            <!--      <a class="btn btn-default btn-sm">-->
            <!--          <i class="glyphicon glyphicon-search"></i>-->
            <!--      </a>-->
            <!--  </span>-->
            <!--</div>-->
          </div>
        </th>
        <th class="text-center" colspan="0">estimated earning</th>
        <th class="text-center" colspan="5">
          <a href="#/new"><i class="glyphicon glyphicon-plus"></i></a>
        </th>
      </tr>
    </thead>
    <!--| filter:search | orderBy:'name'-->
    <tbody>
      <tr ng-repeat="company in listVm.companies.collections">
        <td class="text-center">{{company.name}}</td>
        <td class="text-center">{{company.income}}</td>
        
        <td class="text-center">
          <a href="#/tree/?id={{company._id.$oid}}"><i class="glyphicon glyphicon-link"></i></a>
        </td>
        <td class="text-center">
          <a href="#/edit/?id={{company._id.$oid}}"><i class="glyphicon glyphicon-pencil"></i></a>
        </td>
        <td class="text-center">
          <a href="#/unlink/?id={{company._id.$oid}}"><i class="glyphicon glyphicon-scissors"></i></a>
        </td>
        <td class="text-center">
          <a href="#/remove/?id={{company._id.$oid}}"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
       
      </tr>
    </tbody>
  </table>
</section>
